{
	"useTabs": false,
	"tabWidth": 4,
	"singleQuote": false,
	"trailingComma": "none",
	"printWidth": 125,
	"plugins": ["prettier-plugin-tailwindcss", "prettier-plugin-tailwindcss"],
	"overrides": [
		{
			"files": "*.svelte",
			"options": {
				"parser": "svelte"
			}
		}
	]
}
